# Application
APP_NAME=go-service
APP_ENV=development
APP_PORT=8080
APP_GIN_MODE=debug

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=go-service
DB_TIMEZONE=Asia/Jakarta

# Database Pool
DB_MAX_IDLE_CONNS=5
DB_MAX_OPEN_CONNS=10
DB_MAX_IDLE_CONNS_IN_MINUTES=10
DB_MAX_LIFETIME_CONNS_IN_MINUTES=60

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=24h

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=

# OpenSearch
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=
OPENSEARCH_USE_SSL=false
OPENSEARCH_MAX_IDLE_CONNS_PER_HOST=10
OPENSEARCH_RESPONSE_HEADER_TIMEOUT_SECONDS=5
